
h3{
    background-color:black;
    font-family: Comic Sans MS;
    color: red;
}

/*nav a{
    text-decoration: none;
    background-color: white;
    color: red

}*/

tr:nth-child(odd){
    background-color: grey;
    color:black
}

tr:nth-child(even){
    background-color: white;
    color: red
}

/*nav a:hover{
    text-decoration: none;
    background-color: white;
    color: blue;
    font-size: 16px;
}*/

body{
    background-color: #FE4D3E;
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    padding: 80px /*superior*/ 20px /*inferior*/ 0px /*lados*/
}

.encabezado{
    position: fixed;
    background-color: #076AF0;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

.navegacion{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    text-decoration: none;
    color: white;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}

.nav-menu{
    display: flex;
    font-size: 18px;
    line-height: 90px;
    list-style: none;
}

.nav-menu-item{
    margin: 0 10px;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 6px;
}

.nav-menu-link:hover{
    background-color: #024070;
    transition: 0.5s;
}

header{
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

section{
    position: fixed;
    background: yellow;
    overflow-y: scroll;
    top: 100px;
    left: 15%;
    bottom: 20px;
    right: 0;
}

aside{
    position: fixed;
    background: aquamarine;
    top: 100px;
    bottom: 0;
    left: 0;
    width: 15%;
}

footer{
    position: fixed;
    background-color: white;
    color: black;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;
}

/*Clases empiezan por un punto (*)  */

